@import "tailwindcss";
@import "tailwind-animations";

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme {
  --color-bgPrimary: #f1f5f9;
  --color-bgSecondary: transparent;
  --color-primary: #ff8c00;
  --color-secondary: #8b0000;
  --color-tertiary: #191970;
}
